#navbarNav{
    background-color: $color-white;
    .navbar{
        
        img{
            padding-top: rems(19);
            padding-bottom: rems(19);
            margin-left: rems(174);
        }
        ul{
            margin-right: rems(173);
            li{
                border-top:rems(3) solid transparent;
                padding-top: rems(19);
                padding-bottom: rems(19);

                &:hover{
                    border-top:rems(3) solid getColor(cobalt-blue);
                }
                &.active{
                    border-top:rems(3) solid getColor(cobalt-blue);
                }
            }
        }
        a{
            color: getColor(cobalt-blue);
            font-size: rems(14);
            font-weight: 500;
        }
    }
    
}