@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,600i,700|Roboto:300,400,500,700,900&display=swap');

@function rems($value) {
  @return $value/16 + rem;
}

@function getColor($color) {
  @return map-get($map: $colors, $key: $color);
}

@function getShadow($shadow) {
  @return map-get($map: $shadows, $key: $shadow);
}

// Colors
$color-white: #FFFFFF;
$color-light: #FAFAFA;
$color-grey: #888888;
$color-brown: #B18D5B;
$color-black: #000000;

$colors:(
  cobalt-blue: #071eb3,
  black-words: #161616,
  greyish: #a5a5a5,
  ice-blue: #f9faff
);

// Body
$body-bg: getColor(ice-blue);
$body-color: #161616;
$app-min-width: 1024px;

// Misc
$box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

// Typography
// $font-family-sans-serif: 'Roboto', sans-serif;

// Button
// $btn-border-radius: 0;
// $btn-border-width: 2px;
// $btn-font-weight: bold;

$shadows: (
  sidebar:rems(12) rems(0) rems(15) rems(-8) rgba(0, 0, 0, 0.6)
);


// Settings arrow
$arrow-size: 1em;
$arrow-border: 0.2em;