#home{
    .container-home{
        margin: rems(120) rems(188) rems(198) rems(176) ;
        .home-testimonial-title{
            width: rems(389);
            height: rems(56);
            background-color: getColor(cobalt-blue);
            align-items: center;
            display: flex;
            justify-content: center;
            h2{
                font-size: rems(36);
                font-weight: 900;
                color: $color-white;
                margin: 0;
            }
        }
        .testimonials-content{
            color: getColor(black-words);
            margin-top: rems(112);
            .testimonial-ppl{
                h6{
                    font-size: rems(14);
                    color: getColor(greyish);
                }
            }
            p{
                font-size: rems(24);
                font-weight: 700;
            }
        }

          .testimonial-container-burttons{
              background-color: getColor(cobalt-blue);
              height: rems(56);
              float: right;
              font-family: 'Cormorant Garamond';
              color: $color-white;
              span{
                font-size: rems(32);
                font-weight: 600;
                font-style: italic;
                padding: 0 rems(45) 0 rems(45);
              }

              .col{
                  &.arrows{
                      padding-left: rems(28);
                      padding-right: rems(28);
                      &.disabled{
                        pointer-events: none;
                        background-color:
                        rgba(255, 255, 255, .5);
                        opacity: .5;
                      }
                  }
              }

              .arrow-link {
                  font-size: rems(16);
                  font-weight: 300;
                &:after, &:before {
                  content: "";
                  display: block;
                  position: absolute;
                  transition: all 0.5s ease-in-out;
                }
                &:before {
                  top: 50%;
                  right: $arrow-size;
                  width: $arrow-size;
                  height: $arrow-size;
                  transform-origin: 50% 50%;
                  transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
                  box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $color-white;
                  border-radius: 0 $arrow-size*0.15 0 0;
                }
                
                &:after {
                  top: 50%;
                  right: 1em;
                  width: $arrow-size * 1.3;
                  height: $arrow-border;
                  transform:  translate(0, -($arrow-border / 2));
                  background-color: $color-white;
                }
                &:hover {
                  &:before {
                    transform:  translate(0.5em, -($arrow-size / 2)) rotate(45deg);
                  }
                  &:after {
                    transform:  translate(0.5em, -($arrow-border / 2));
                  }
                }

                &.left{
                    &:before {
                        top: 50%;
                        right: $arrow-size;
                        width: $arrow-size;
                        height: $arrow-size;
                        transform-origin: 50% 50%;
                        transform:  translate(-.4em, -($arrow-size / 2)) rotate(225deg);
                        box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $color-white;
                        border-radius: 0 $arrow-size*0.15 0 0;
                      }
                      &:hover {
                        &:before {
                          transform:  translate(-.6em, -($arrow-size / 2)) rotate(225deg);
                        }
                        &:after {
                          transform:  translate(-.4em, -($arrow-border / 2));
                        }
                      }
                }
              }
          }
    }
    
}




