#solutions{
    .solutions-container{
        margin: rems(120) rems(173) 0 rems(172);

        .calculatorTxt-container{
            padding-right: rems(211);
            .calcutator-contain-title{
                font-size: rems(36);
                font-weight: 900;
                color: $color-white;
                margin: 0;
                h2{
                    background-color: getColor(cobalt-blue);
                    height: rems(56);
                    align-items: center;
                    display: flex;
                    padding: 0 rems(6);
                }
                .title1{
                    width: rems(240);
                }
                .title2{
                    width: rems(178);
                    
                }
            }
            p{
                font-size: rems(16);
            }
        }
        input{
            font-size: rems(26);
            font-weight: 500;
        }
        .calculator-text-input{
            width: rems(190);
            float: right;
        }
        .calculator-text-input2{
            width: rems(67);
            float: right;
        }
        .slider{
            input{
                width: rems(535);
            }
        }

        .claculator-container-employess{
            margin-top: rems(46);
        }

        .calculator-titles{
            font-size: rems(14);
            font-weight: 700;
        }
    }
}